In [94]:
import pandas as pd
import numpy as np

In [95]:
data = pd.read_excel("/content/drive/MyDrive/Table of Size Standards_NAICS 2022 Final Rule_Effective October 1, 2022_0.xlsx", sheet_name= 'table_of_size_standards-all')

In [96]:
data

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,2,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,2,NaN,NaN
4,111130,Dry Pea and Bean Farming,2.5,NaN,NaN
...,...,...,...,...,...
1100,813930,Labor Unions and Similar Labor Organizations,14.5,NaN,NaN
1101,813940,Political Organizations,12.5,NaN,NaN
1102,813990,"Other Similar Organizations (except Business, ...",12,NaN,NaN
1103,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
1104,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [97]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,111110,Soybean Farming,2,NaN,NaN
3,111120,Oilseed (except Soybean) Farming,2,NaN,NaN
4,111130,Dry Pea and Bean Farming,2.5,NaN,NaN

In [98]:
data.tail()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
1100,813930,Labor Unions and Similar Labor Organizations,14.5,NaN,NaN
1101,813940,Political Organizations,12.5,NaN,NaN
1102,813990,"Other Similar Organizations (except Business, ...",12,NaN,NaN
1103,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 17
1104,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             1082 non-null   object
 1   NAICS Industry Description              1019 non-null   object
 2   Size standards
in millions of dollars  513 non-null    object
 3   Size standards in number of employees   483 non-null    float64
 4   Footnotes                               37 non-null     object
dtypes: float64(1), object(4)
memory usage: 43.3+ KB

In [100]:
#Checking for null
data.isnull().sum()

NAICS Codes                                  23
NAICS Industry Description                   86
Size standards \nin millions of dollars     592
Size standards in number of employees       622
Footnotes                                  1068
dtype: int64

In [101]:
#Selecting the relevant records
data.columns
data = data[data['NAICS Codes'].isnull()]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1104
Data columns (total 5 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Codes                             0 non-null      object
 1   NAICS Industry Description              23 non-null     object
 2   Size standards
in millions of dollars  0 non-null      object
 3   Size standards in number of employees   0 non-null      float64
 4   Footnotes                               1 non-null      object
dtypes: float64(1), object(4)
memory usage: 1.1+ KB

In [102]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN
112,NaN,Sector 23 – Construction,NaN,NaN,NaN
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN

In [103]:
data['LookUpCodes'] = data['NAICS Industry Description'].str.slice(start = 7, stop=9)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,LookUpCodes
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31

In [105]:
data['Sector'] = data['NAICS Industry Description'].str.slice(start = 12)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [106]:
data.head()

,NAICS Codes,NAICS Industry Description,Size standards \nin millions of dollars,Size standards in number of employees,Footnotes,LookUpCodes,Sector
0,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,11,"Agriculture, Forestry, Fishing and Hunting"
71,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,21,"Mining, Quarrying, and Oil and Gas Extraction"
96,NaN,Sector 22 – Utilities,NaN,NaN,NaN,22,Utilities
112,NaN,Sector 23 – Construction,NaN,NaN,NaN,23,Construction
149,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,31,33 – Manufacturing

In [107]:
data = data[['NAICS Industry Description', 'LookUpCodes', 'Sector']]

In [108]:
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 1104
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NAICS Industry Description  23 non-null     object
 1   LookUpCodes                 23 non-null     object
 2   Sector                      23 non-null     object
dtypes: object(3)
memory usage: 736.0+ bytes

In [109]:
data

,NAICS Industry Description,LookUpCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,33 – Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
518,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
592,(These NAICS codes shall not be used to classi...,NA,codes shall not be used to classify Governmen...
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration
1104,(Small business size standards are not establi...,bu,ess size standards are not established for thi...

In [110]:
data = data[data['LookUpCodes'].str.isnumeric()]

In [111]:
data.loc[data['Sector']=='33 – Manufacturing', 'Sector'] = 'Manufacturing'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [112]:
# Replacing values in sector
data

,NAICS Industry Description,LookUpCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
591,Sector 44 - 45 – Retail Trade,44,45 – Retail Trade
659,Sector 48 - 49 – Transportation and Warehousing,48,49 – Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration

In [114]:
data['Sector'] = np.where(data['Sector'] == '45 – Retail Trade', 'Retail Trade', data['Sector'])
data['Sector'] = np.where(data['Sector'] == '49 – Transportation and Warehousing','Transportation and Warehousing' , data['Sector'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [115]:
data

,NAICS Industry Description,LookUpCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
591,Sector 44 - 45 – Retail Trade,44,Retail Trade
659,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration

In [116]:
data.loc[len(data.index)] = ['Sector 31 – 33 – Manufacturing', 32, 'Manufacturing']
data.loc[len(data.index)] = ['Sector 31 – 33 – Manufacturing', 33, 'Manufacturing']
data.loc[len(data.index)] = ['Sector 44 - 45 – Retail Trade', 45, 'Retail Trade']
data.loc[len(data.index)] = ['Sector 48 - 49 – Transportation and Warehousing', 49, 'Transportation and Warehousing']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [117]:
data

,NAICS Industry Description,LookUpCodes,Sector
0,"Sector 11 – Agriculture, Forestry, Fishing and...",11,"Agriculture, Forestry, Fishing and Hunting"
71,"Sector 21 – Mining, Quarrying, and Oil and Gas...",21,"Mining, Quarrying, and Oil and Gas Extraction"
96,Sector 22 – Utilities,22,Utilities
112,Sector 23 – Construction,23,Construction
149,Sector 31 – 33 – Manufacturing,31,Manufacturing
517,Sector 42 – Wholesale Trade,42,Wholesale Trade
591,Sector 44 - 45 – Retail Trade,44,Retail Trade
659,Sector 48 - 49 – Transportation and Warehousing,48,Transportation and Warehousing
729,Sector 51 – Information,51,Information
765,Sector 52 – Finance and Insurance,52,Finance and Insurance
804,Sector 53 – Real Estate and Rental and Leasing,53,Real Estate and Rental and Leasing
836,"Sector 54 – Professional, Scientific and Techn...",54,"Professional, Scientific and Technical Services"
893,Sector 55 – Management of Companies and Enterp...,55,Management of Companies and Enterprises
897,Sector 56 – Administrative and Support and Was...,56,Administrative and Support and Waste Managemen...
945,Sector 61 – Educational Services,61,Educational Services
965,Sector 62 – Health Care and Social Assistance,62,Health Care and Social Assistance
1009,"Sector 71 – Arts, Entertainment and Recreation",71,"Arts, Entertainment and Recreation"
1038,Sector 72 – Accommodation and Food Services,72,Accommodation and Food Services
1056,Sector 81 – Other Services (except Public Admi...,81,Other Services (except Public Administration)
1103,Sector 92 – Public Administration,92,Public Administration
20,Sector 31 – 33 – Manufacturing,32,Manufacturing
21,Sector 31 – 33 – Manufacturing,33,Manufacturing
22,Sector 44 - 45 – Retail Trade,45,Retail Trade
23,Sector 48 - 49 – Transportation and Warehousing,49,Transportation and Warehousing

In [119]:
data.to_csv('clean_data.csv', encoding='utf-8', index=False)